# Do not change the line endings by default
* -text

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.mo text
*.mos text
*.order text
.gitattributes text
.gitignore text
*.md text
LICENSE.txt text

# git archive keyword substitutions for the main package files
VehicleInterfaces/package.mo export-subst
ObsoleteVehicleInterfaces2.mo export-subst

# list of files that git archive should ignore
.CI export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
README.md export-ignore
VehicleInterfacesTestConversion2.mo export-ignore
